################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CATchingFish/.vs/CATchingFish/FileContentIndex/605d018e-2b29-4e42-b742-ed22a5f2a6ae.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/60bf88b7-8a37-4599-92a4-3bf2fc33b69c.vsidx
